.close-button {
    transform: translate(-50%, -50%);
    border: none;
    display: block;
    position: relative;
    left: 40%;
    padding: 7px 5px;
    text-decoration: none;
    color: white;
    background-color: #EE6E0D;
    font-weight: 500;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all;
  }
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(240, 29, 29, 0.1);
    align-items: center;
    justify-content: center;
  
  }
  
  .modal-content::-webkit-scrollbar {
    width: 10px;
  }

  .modal-content::-webkit-scrollbar-thumb {
    background-color: #EE6E0D;
    border-radius: 13px;
  }

  .modal-content img {
    position: relative;
    left: 20%;
    max-width: 600px;
    border-radius: 13px;
    border: none;
    box-shadow: 0 0 30px rgba(233, 10, 10, 0.1);
  }

  .close-btn {
    color: #f3efef;
    float: right;
    font-size: 18px;
    font-weight: bold;
    border-radius: 13px;
    padding: 3px 8px;
    border: none;
    background-color: #EE6E0D;

  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  