.nationality-cards-container {
  
  width: 100%;
  overflow-x: scroll;
  margin-left: 5%;
  margin-top: 100px;
  margin-bottom: 150px;
  box-shadow: inset -10px 0 10px -10px rgba(238, 10, 10, 0.5);
  box-shadow: inset 10px 0 10px -10px rgba(230, 160, 9, 0.5);
 
}

.nationality-cards-container::-webkit-scrollbar {
  width: 10px;
}

.nationality-cards-container::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 18px;
}


.nationality-cards-wrapper {
  display: flex;
}

.nationality-card {
  margin: 5px;
  display: flex;
  color: orangered;
}

.nationality-card-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nationality-card-circle span {
  font-size: 18px;
  font-weight: bold;
  color: #ddd1cc;
}

.nationality-card img {
  width: 50px;
  height: 50px;
  border-radius: 180px;
  object-fit: cover;
}
