.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 30px rgba(224, 13, 13, 0.1);
}

.category-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category-description {
    font-size: 16px;
    line-height: 1.4;
}

